.container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
  
.grid__container {
    width: 50%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

.grid__container h1 {
    margin-bottom: 10px;
}

.item {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(228 228 228);
}

.item:nth-child(1) span {
    font-weight: bold;
    color: #afafaf;
    padding-bottom: 20px;
}

.item:last-child {
    border: none;
}

.bottom {
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    border-top: 2px solid orange;
    background-color: white;
}

.bottom__container {
    width: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}

.icon__container {
    display: flex;
    flex-grow: 2;
}

.icon__item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon__item:nth-child(1) {
    cursor: pointer;
}

.icon__span {
    font-weight: bold;
    color: #afafaf;
    font-size: 15px;
}

button {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 4px;
    cursor: pointer;
}
