.container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
  
.grid__container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    min-width: 150px;
    padding: 0px 10px;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4) {
    grid-column-end: span 1;
}

.item:nth-child(5) {
    grid-column-end: span 2;
}

.item:nth-child(6),
.item:nth-child(7) {
    grid-column-end: span 3;
}

.item:nth-child(7) {
    text-align: right;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}
